.item {
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: lightgray;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
}

.item-body-section-a {
    display: inline-block;
    text-align: left;
    width: 60%;
}

.item-body-section-b {
    display: inline-block;
    text-align: right;
    width: 40%;
}