.items-wrapper {
    width: 40%;
    float: left;
    position: relative;
    padding: 10px;
    margin-left: 10%;
}

.items-list {
    border-width: 2px;
    border-color: darkgray;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
}

.items-table {
    border-collapse: collapse;
    width: 100%;
}
