.items-wrapper {
    width: 65%;
    float: left;
    position: relative;
    padding: 10px;
}

.items-list {
    border-width: 2px;
    border-color: darkgray;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
}

.items-table {
    border-collapse: collapse;
    width: 100%;
}

.items-table, th, td {
    border: 1px solid black;
}